body {
    font-family: sans-serif;
    padding: 30px;
    background: #ededed;
}

.wrapper {
    max-width: 690px;
    margin: 0 auto;
}

.blue {
    color: #3f7abe;
}

h1 {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08a3d9;
    text-transform: uppercase;
    font-size: 30px;
    color: #000380;
}

#balloon-gallery div {
    /* background: #ff3300; */
    height: 91px;
    width: 86px;
    text-align: center;
    /* color: #ff3300; */
    font-size: 40px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    /* float: left; */
    margin: 18.5px 29px 3.5px 0px;
}


#balloon-gallery div:nth-child(4n) {
    clear: right;
}

#yay-no-balloons {
    display: none;
    font-size: 100px;
}

#game-over{
    display: none;
    font-size: 100px;
}
.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.pink {
    background-color: pink;
}